.glyphicon {
	color: green;
}

.center {
	text-align: center;
}

.rb, .wr, .qb, .te, .dst, .k {
	opacity: 1;
	-webkit-transition: opacity 1000ms linear;
	transition: opacity 1000ms linear;
}

.rb {
	background-color: #9f9fde;
}

.wr {
	background-color: #82b573;
}

.qb {
	background-color: #e6696afc;
}

.te {
	background-color: #e08ade;
}

.dst, .k {
	background-color: gray;
}