.glyphicon {
	color: green;
}

.center {
	text-align: center;
}

.rb, .wr, .qb, .te, .dst, .k {
	opacity: 1;
	-webkit-transition: opacity 1000ms linear;
	transition: opacity 1000ms linear;
	color: whitesmoke;
	font-weight: bold;
}

.rb {
	background-color: #68b609;
}

.rb:hover {
	background-color: #4F9D00
	;
}

.wr {
	background-color: #2196f3;
}

.wr:hover {
	background-color: #087DDA;
}

.qb {
	background-color: #f44336;
}

.qb:hover {
	background-color: #DB2A1D;
}

.te {
	background-color: #ffc106;
}

.te:hover {
	background-color: #E6A800;
}

.dst, .k {
	background-color: gray;
}

.dst:hover {
	background-color: #676767;
}

.k:hover {
	background-color: #676767;
}