.undo-button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  margin: 0.5em;
  padding: 1em;
  background-color: lightsalmon;
  font-weight: bolder;
  border-radius: 5px;
  max-width: 10em;
}