.glyphicon {
	color: green;
}

.center {
	text-align: center;
}

.rb, .wr, .qb, .te, .dst, .k {
	opacity: 1;
	-webkit-transition: opacity 1000ms linear;
	transition: opacity 1000ms linear;
	color: whitesmoke;
	font-weight: bold;
}

.rb {
	background-color: #68b609de;
}

.rb:hover {
	background-color: #4F9D00
	;
}

.wr {
	background-color: #2196f3de;
}

.wr:hover {
	background-color: #087DDA;
}

.qb {
  &>:hover {
    background-color: #DB2A1D;
  }
	background-color: #f44336de;
}

.te {
  &:hover {
    background-color: #E6A800;
  }
	background-color: #ffc106de;
}

.dst, .k {
	background-color: rgba(128, 128, 128, 0.815);
}

.dst:hover {
	background-color: #676767;
}

.k:hover {
	background-color: #676767;
}