.app {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: silver;
}

.app-header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  background-color: seagreen;
  padding: 1em;
}

.nav-brand {
  flex: 0 1 0;
}

.app-logo {
  height: 80px;
}

.nav-text {
  flex: 0 1 0;
  
  font-size: 2.5em;
  color: #fff;
}

.table-row {
  padding: 1.5em;
}

.import-row {
  padding: 1.5em;
}