.App {
  text-align: left;
}



.nav-brand {
  display: flex;
  align-content: center;
}

.nav-brand:hover .nav-text:hover {
  color: inherit;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.nav-text {
  font-size: 2.5em;
  color: #fff;
  flex: 1;
}

.App-intro {
  font-size: large;
}

.function-row {
  padding-top: 5px;
}

.table-row {
  padding-top: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
